.body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  letter-spacing: 0.03em;
}
.body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list-style {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header--none-border {
  border-bottom: 0;
}

.page-header-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__logo--color {
  color: #212121;
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 95px;
  }
}

.page-header-site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header-site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header-site-nav__item {
  margin-right: 50px;
}
.page-header-site-nav__item:last-child {
  margin-right: 0px;
}

.page-header-site-nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .page-header-site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header-site-nav__link {
  display: block;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-site-nav__link:hover, .page-header-site-nav__link:focus {
  color: #2196f3;
}

.page-header-site-nav__link--current {
  position: relative;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 34px;
}
.page-header-site-nav__link--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.page-header-site-nav__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header-site-nav__contacts {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .page-header-site-nav__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header-site-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .page-header-site-nav-contacts__item {
    margin-bottom: 10px;
  }
  .page-header-site-nav-contacts__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-header-site-nav-contacts__item {
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .page-header-site-nav-contacts__item:last-child {
    margin-right: 0;
  }
}

.page-header-site-nav__contacts .page-header-site-nav__link {
  font-family: "Roboto";
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.page-header-site-nav__contacts .page-header-site-nav__link:hover, .page-header-site-nav__contacts .page-header-site-nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .page-header-site-nav__contacts .page-header-site-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero {
  background-color: #2f303a;
  background-image: url(../img/hero-mob.jpg);
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), color-stop(47), color-stop(48), color-stop(58), to(0.4)), url(../img/hero-mob2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 47, 48, 58, 0.4), url(../img/hero-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), color-stop(47), color-stop(48), color-stop(58), to(0.4)), url(../img/hero-tab2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 47, 48, 58, 0.4), url(../img/hero-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../../img/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-divice-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), color-stop(47), color-stop(48), color-stop(58), to(0.4)), url(../img/hero-desktop2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 47, 48, 58, 0.4), url(../img/hero-desktop2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1, 36;
    max-width: 696px;
  }
}

.hero__button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features-list__item {
  text-align: center;
  margin-bottom: 30px;
}
.features-list__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    text-align: left;
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    text-align: left;
    width: calc((100% - 120px) / 4);
  }
}
@media screen and (min-width: 1200px) and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features__icon {
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.exercise {
  display: none;
}
@media screen and (min-width: 1200px) {
  .exercise {
    padding-bottom: 94px;
    text-align: center;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .exercise__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .exercise__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .exercise__item {
    position: relative;
    margin-right: 30px;
  }
  .exercise__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .exercise__text {
    color: #ffffff;
    font-style: normal;
    line-height: 1.15;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    height: 70px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  }
}

.our-command {
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .our-command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-command__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .our-command__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.our-command__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 676px) {
  .our-command__item {
    margin-bottom: 30px;
  }
  .our-command__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .our-command__item {
    width: 354px;
    width: 20;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .our-command__item {
    width: 270px;
    width: -5;
    margin: 15px;
  }
}

.our-command__content {
  padding-bottom: 24px;
  padding-top: 30px;
}
@media screen and (min-width: 1200px) {
  .our-command__content {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.our-command__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-command__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.comand-link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comand-icon__item {
  margin-right: 10px;
}
.comand-icon__item:last-child {
  margin-right: 0;
}

.command-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(175, 177, 184);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.command-icon__link:hover, .command-icon__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.icon-link {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1, 17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.client-link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  color: rgb(175, 177, 184);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.client-icon {
  fill: currentColor;
}

.footer .container {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.page-footer__column {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .page-footer__column {
    margin-right: 70px;
  }
  .page-footer__column:last-child {
    margin-right: 0;
  }
}

.footer-form__column {
  margin-left: auto;
}

.page-footer__logo {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .page-footer__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}
.page-footer__logo--color {
  color: #ffffff;
}

.page-footer__adress {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__adress:hover, .page-footer__adress:focus {
  color: #2196f3;
}

.footer-link-item {
  margin-bottom: 9px;
}
.footer-link-item:last-child {
  margin-bottom: 0;
}

.page-footer__connect {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__connect:hover, .page-footer__connect:focus {
  color: #2196f3;
}

.page-footer-title__column {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-column__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer-social__item {
  margin-right: 10px;
}
.page-footer-social__item:last-child {
  margin-right: 0;
}

.page-footer-social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer-social__link:hover, .page-footer-social__link:focus {
  background-color: #2196f3;
}

.page-foooter-social-icon__link {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .page-footer__form {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__form {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-footer-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .page-footer__field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.page-footer__email {
  margin-bottom: 20px;
  color: #ffffff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 100%;
  height: 50px;
  padding: 0 0 0 16px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .page-footer__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.page-footer__email:hover, .page-footer__email:focus {
  border: 1px solid #2196f3;
}
.page-footer__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__btn {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.page-footer__btn:hover, .page-footer__btn:focus {
  background-color: #188CE8;
}

.page-footer__icon {
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  max-width: 450px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__button {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  color: #2196f3;
}

.modal__form {
  max-width: 370px;
}
@media screen and (min-width: 1200px) {
  .modal__form {
    max-width: 448px;
  }
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: start;
  margin-bottom: 10px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field:last-child {
  margin-bottom: 0;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-form__input {
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input .modal-form__field:focus-within, .modal-form__field:hover .modal-form__input {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.modal-form__icon {
  color: #212121;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon .modal-form__field:focus-within, .modal-form__field:hover .modal-form__icon {
  color: #2196f3;
}

.modal-textarea__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-textarea__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-comment__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment__textarea:hover, .modal-comment__textarea:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.modal-comment__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
.modal-comment__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
.modal-comment__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
.modal-comment__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
.modal-comment__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-checkbox__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-size: 1.71;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.modal-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-checkbox__input:checked + .modal-checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-origin: border-box;
}

.modal-checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition-property: border-color color;
  transition-property: border-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-checkbox__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-submit__button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit__button:hover, .modal-submit__button:focus {
  background-color: #188CE8;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .button-portfolio__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-portfolio__item {
  margin-right: 8px;
  margin-bottom: 15px;
}
.button-portfolio__item:last-child {
  margin-right: 0;
}

.button-portfolio {
  color: #212121;
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.card-set__item {
  margin-bottom: 30px;
}
.card-set__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc(50% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.card-set__link {
  text-decoration: none;
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__animation {
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover .card-set__animation {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-set__link:focus .card-set__animation {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-set__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-set-text__overlay {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  min-width: 322px;
}

.card-set__content {
  padding: 20px 18px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.card-set-catalog__heading {
  color: #212121;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set-catalog__text {
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  color: #757575;
}

.page-header-menu__button-open {
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-menu__button-open:hover, .page-header-menu__button-open:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .page-header-menu__button-open {
    display: none;
  }
}

.page-header-mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 30px;
  background-color: #ffffff;
}
.page-header-mobile-menu.is-open {
  display: block;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .page-header-mobile-menu.is-open {
    display: none;
  }
}

.peage-header-mobile-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  width: 100%;
}

.page-header-menu__button-close {
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-menu__button-close:hover, .page-header-menu__button-close:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .page-header-menu__button-close {
    display: none;
  }
}

.page-header-mobile-site-nav__list {
  margin-bottom: 100px;
}

.page-header-mobile-site-nav__item {
  margin-bottom: 32px;
}
.page-header-mobile-site-nav__item:last-child {
  margin-bottom: 0;
}

.page-header-mobile-site-nav__link {
  display: block;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-mobile-site-nav__link:hover, .page-header-mobile-site-nav__link:focus {
  color: #2196f3;
}

.page-header-mobile-site-nav__link--current {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  color: #2196f3;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
}

.page-header-mobile-site-nav-contacts__list {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .page-header-mobile-site-nav-contacts__list {
    display: none;
  }
}

.page-header-mobile-site-nav-contacts__item {
  margin-bottom: 32px;
}
.page-header-mobile-site-nav-contacts__item:last-child {
  margin-bottom: 0;
}

.page-header-mobile-site-nav-contacts__link {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-mobile-site-nav-contacts__link:hover, .page-header-mobile-site-nav-contacts__link:focus {
  color: #2196f3;
}
.page-header-mobile-site-nav-contacts__link--phone {
  color: #2196f3;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.page-header-mobile-site-nav-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .page-header-mobile-site-nav-socials__list {
    display: none;
  }
}

.page-header-mobile-site-nav-socials__item {
  margin-right: 10px;
}
.page-header-mobile-site-nav-socials__item::after {
  content: "";
  margin-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.page-header-mobile-site-nav-socials__item:last-child {
  margin-right: 0;
}
.page-header-mobile-site-nav-socials__item:last-child::after {
  border-right: 0;
  margin-left: 0;
}

.page-header-mobile-site-nav-socials__link {
  color: #2196f3;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */