.body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list-style {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 95px;
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__logo--color {
  color: #212121;
}

.page-header-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header-site-nav__item {
  margin-right: 50px;
}
.page-header-site-nav__item:last-child {
  margin-right: 0px;
}

.page-header-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header-site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-site-nav__link:hover, .page-header-site-nav__link:focus {
  color: #2196f3;
}

.page-header-site-nav__link--current {
  position: relative;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 34px;
}
.page-header-site-nav__link--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.page-header-site-nav__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header-site-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header-site-nav-contacts__item {
  color: #757575;
}

.page-header-site-nav-contacts__item {
  margin-right: 50px;
}
.page-header-site-nav-contacts__item:last-child {
  margin-right: 0;
}

.page-header-site-nav__contacts .page-header-site-nav__link {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto";
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-site-nav__contacts .page-header-site-nav__link:hover, .page-header-site-nav__contacts .page-header-site-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero {
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile-Header\ img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile-Header\ img.jpg);
    background-position: center;
    background-position: center;
    display: block;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    width: 360px;
    line-height: 1.35;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
  }

  .hero__button {
    color: #ffffff;
    background-color: #2196f3;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero__button:hover, .hero__button:focus {
    background-color: #188CE8;
  }
}
/*.hero 
   background-color:$secondary-bg-color;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/owerlay.jpg);
   background-position: center;
   background-position: center;

   text-align: center;
   padding-top: 200px;
   padding-bottom: 200px;
   height: 600px;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   background-size: cover;
   background-repeat: no-repeat;
}

.hero__title {
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   color: $primary-white-color;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   width: 696px;
   line-height: 1.35;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}

.hero__button {
   color: $primary-white-color;
   background-color: $accent-color;
   font-family: "Roboto";
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   padding: 10px 32px;
   border-radius: 4px;
   min-width: 200px;
   display: inline-block;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
   border: none;
   transition-property:background-color;
   transition-duration: $transition-duration;
   transition-timing-function: $transition-timing-function;
   &:hover,
   &:focus {
   background-color: #188CE8;
   }
}*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .features__title {
    margin-bottom: 10px;
    color: #212121;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }

  .features__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 30px;
  }

  .features-list__item {
    text-align: center;
  }

  .features__icon {
    background-color: #f5f4fa;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  }
}
/*.features {
   padding-top: 94px;
   padding-bottom: 94px;
}

.features__list {
   display: flex;
}

.features-list__item {
   min-width: 270px;
   margin-right: 30px;
   &:last-child {
   margin-right: 0;
   }
}

.features__title {
   margin-bottom: 10px;
   color: $title-text-color;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.features__text {
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: $primary-text-color;
}

.features__icon {
   height: 120px;
   width: 270px;
   margin-bottom: 30px;
   border-radius: 4px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .exercise {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
/*.exercise {
  padding-bottom: 94px;
  text-align: center;
}

.exercise__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.exercise__list {
  display: flex;
}

.exercise__item {
  position: relative;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.exercise__text {
  color: $primary-white-color;
  font-style: normal;
  line-height: 1.15;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .our-command {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .our-command__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
  }

  .our-command__list {
    max-width: 450px;
  }

  .our-command__item {
    background-color: #ffffff;
    max-width: 450px;
  }

  .our-command__content {
    padding-bottom: 24px;
    padding-top: 30px;
  }

  .our-command__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
  }

  .our-command__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
  }

  .comand-link__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .comand-icon__item {
    margin-right: 10px;
  }
  .comand-icon__item:last-child {
    margin-right: 0;
  }

  .command-icon__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: rgb(175, 177, 184);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .command-icon__link:hover, .command-icon__link:focus {
    background-color: #2196f3;
    color: #ffffff;
  }

  .icon-link {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}
/*.our-command {
   padding-top: 94px;
padding-bottom: 94px;
background-color: $secondary-white-color;
text-align: center;
}

.our-command__title {
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: $title-text-color;
}

.our-command__list {
   display: flex;
}

.our-command__item {
min-width: 270px;
background-color: $primary-bg-color;
min-width: 270px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
margin-right: 30px;
&:last-child{
margin-right: 0;
}
}

.our-command__content {
padding-bottom: 30px;
padding-top: 30px;
}

.our-command__name {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: $title-text-color;
}

.our-command__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: $primary-text-color;
   margin-bottom: 16px;
}
.comand-link__list {
   display: flex;
   justify-content: center;
}

.comand-icon__item {
   margin-right: 10px;
   &:last-child{
   margin-right: 0;
}
}

.command-icon__link {
display: flex;
color: $icon-color;
width: 44px;
height: 44px;
border-radius: 50%;
justify-content: center;
align-items: center;
transition-property:background-color, color;
transition-duration: $transition-duration;
transition-timing-function: $transition-timing-function;
&:hover,
&:focus{
background-color: $accent-color;
color: $primary-white-color;
}
}

.icon-link {
fill: currentColor;
width: 20px;
height: 20px;
}*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-list__item {
  margin-right: 30px;
}
.clients-list__item:last-child {
  margin-right: 0;
}

.client-link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  color: rgb(175, 177, 184);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.client-icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.page-footer__column {
  margin-right: 70px;
}
.page-footer__column:last-child {
  margin-right: 0;
}

.footer-form__column {
  margin-left: auto;
}

.page-footer__logo {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
}
.page-footer__logo--color {
  color: #ffffff;
}

.page-footer__adress {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__adress:hover, .page-footer__adress:focus {
  color: #2196f3;
}

.page-footer__connect {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__connect:hover, .page-footer__connect:focus {
  color: #2196f3;
}

.page-footer-title__column {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-column__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer-social__item {
  margin-right: 10px;
}
.page-footer-social__item:last-child {
  margin-right: 0;
}

.page-footer-social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer-social__link:hover, .page-footer-social__link:focus {
  background-color: #2196f3;
}

.page-foooter-social-icon__link {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.page-footer__form {
  margin-left: auto;
}

.page-footer-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__email {
  color: #ffffff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 358px;
  height: 50px;
  padding: 0 0 0 16px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__email:hover, .page-footer__email:focus {
  border: 1px solid #2196f3;
}
.page-footer__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__btn {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.page-footer__btn:hover, .page-footer__btn:focus {
  background-color: #188CE8;
}

.page-footer__icon {
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__button {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  color: #2196f3;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: start;
  margin-bottom: 10px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: start;
  margin-bottom: 10px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-form__input {
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input .modal-form__field:focus-within, .modal-form__field:hover .modal-form__input {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.modal-form__icon {
  color: #212121;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon .modal-form__field:focus-within, .modal-form__field:hover .modal-form__icon {
  color: #2196f3;
}

.modal-textarea__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.modal-textarea__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-comment__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment__textarea:hover, .modal-comment__textarea:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.modal-comment__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
.modal-comment__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
.modal-comment__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
.modal-comment__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
.modal-comment__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-checkbox__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-size: 1.71;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.modal-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-checkbox__input:checked + .modal-checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-origin: border-box;
}

.modal-checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition-property: border-color color;
  transition-property: border-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__label {
  font-size: 1.71;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-left: 7px;
}

.modal-checkbox__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.modal-submit__button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit__button:hover, .modal-submit__button:focus {
  background-color: #188CE8;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-portfolio__item {
  margin-right: 10px;
}
.button-portfolio__item:last-child {
  margin-right: 0;
}

.button-portfolio {
  color: #212121;
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.card-set__link {
  text-decoration: none;
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__animation {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover .card-set__animation {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-set__link:focus .card-set__animation {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-set__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-set-text__overlay {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  min-width: 322px;
}

.card-set__content {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.card-set-catalog__heading {
  color: #212121;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set-catalog__text {
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */