/*-----------------------------------основные настройки----------------------------------------*/
:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --primary-white-color: #FFFFFF;
   --primary-bg-color: #FFFFFF;
   --secondary-bg-color: #2F303A;
   --secondary-white-color: #F5F4FA;
   --card-gap: 30px;
   --icon-color: rgba(175, 177, 184, 1);
   --icon-bg-color: rgba(255, 255, 255, 0.1);
   --transition-duration: 250ms;
   --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   --background-card-color: rgba(33, 150, 243, 0.9);
}

.body {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
   font-family: 'Roboto', 'sans-serif';
   font-size: 14px;
   letter-spacing: 0.03em;
}

img {
   display: block;
   max-width: 100%;
}




h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.list-style {
   list-style: none;
   padding-left: 0;
   margin: 0;
}

/*----------------------------logo---------------------------------------*/

.text-logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   color: #2196F3;
   text-decoration: none;
   display: block;
   padding-top: 25px;
   padding-bottom: 25px;
   margin-right: 95px;
   padding-left: 40px;
}

.Part-logo-black {
   color: #212121;
   display: inline-block;
}

.Part-logo-white {
   color: aliceblue;
   display: inline-block;
}

/*---------------------------- block header ------------------------------------------*/

.page-header {
   background-color: var(--primary-bg-color);
   border-bottom: 1px solid #ececec;
}




.main-nav {
   display: flex;
   align-items: center;
}

.link-nav {
   display: flex;

}

.link-nav .link-nav-item+.link-nav-item {
   margin-left: 50px;
}


.header-link {
   display: block;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: var(--title-text-color);
   text-decoration: none;
   padding-top: 32px;
   padding-bottom: 34px;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);

}

.header-link:hover,
.header-link:focus {
   color: var(--accent-color);
}





.current {
   position: relative;
   content: "";
   color: var(--accent-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   text-decoration: none;
   display: block;
   padding-top: 32px;
   padding-bottom: 34px;

}

.current::after {
   position: absolute;
   content: "";
   left: 0;
   bottom: 0;
   display: block;
   width: 100%;
   height: 4px;
   border-bottom: var(--accent-color);
   border-radius: 2px;
   border-color: var(--accent-color);

}


/*---------------------------контакты-----------------------------------*/
.contact-header {
   display: flex;
   margin-left: auto;
   align-items: center;
}

.contact-header .contact {

   padding-top: 32px;
   padding-bottom: 32px;
   display: flex;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
   text-decoration: none;
   align-items: center;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}


.contact-item+.contact-item {
   margin-left: 50px;
}




.header-contacts-icon {
   margin-right: 10px;
   fill: currentColor;

}


.contact:hover,
.contact:focus .contact:hover,
.contact:focus {
   color: var(--accent-color);
}

.contact-header .contact-item+.contact-item {
   margin-left: 50px;
}


/*---------------------------- block main -----------------------------------*/


.overlay,
.hero {
   background-color: var(--secondary-bg-color);
   text-align: center;
   padding-top: 200px;
   padding-bottom: 200px;
   max-width: 1600px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/owerlay.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.title {
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   width: 696px;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--primary-white-color);
   text-align: center;
}

.button-title {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   cursor: pointer;
   border: none;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.85;
   padding: 10px 32px;
   border-radius: 4px;
   align-items: center;
   text-align: center;
   display: inline-block;
   letter-spacing: 0.06em;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);


}

.button-title:hover,
.button-title:focus {
   color: var(--primary-white-color);
   background-color: #188CE8;
   ;
}





.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/*-------------------------Наши преимущества----------------------------------*/

.features {
   background-color: var(--primary-bg-color);
   padding-top: 95px;
   padding-bottom: 95px;
}

.features-list {
   display: flex;
   justify-content: space-around;
}

.features-list-item {
   min-width: 270px;
   margin-left: 30px;

}

.features-list-item::before {
   display: block;
   content: "";
   height: 120px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-color: rgba(245, 244, 250, 1);
   margin-bottom: 30px;
}

.icon-antena::before {
   background-image: url(../img/Group\ 1.svg);
}

.icon-clock::before {
   background-image: url(../img/Group\ 2.svg);
}

.icon-pc::before {
   background-image: url(../img/Group\ 3.svg);
}

.icon-austonaut::before {
   background-image: url(../img/Group\ 4.svg);
}



.text-title {
   margin-bottom: 10px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--title-text-color);
}

.Text-description {
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
}





/*------------------------чем занимаемся и наша команда----------------------------*/

.exercise {
   padding-bottom: 94px;
}

.title-exercise {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);

}



.exercise-list {
   display: flex;
}

.exercise-list-item {
   margin-left: 30px;
   position: relative;
}

.exercise-text {
   color: var(--primary-white-color);
   font-style: normal;
   line-height: 1.15;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   height: 70px;
   width: 100%;
   background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));


}

/*------------------------------------наша команда--------------------------------------*/

.our-command {
   padding-top: 94px;
   padding-bottom: 94px;
   background-color: var(--secondary-white-color);
}

.our-command-list {
   display: flex;
}

.command-list {
   margin-left: 30px;
}

.command-content {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   background-color: var(--primary-bg-color);
   padding-top: 30px;
   padding-bottom: 30px;

}


.title-our-command {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

.initials {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

.position {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
   margin-bottom: 16px;
}

.comand-link-list {
   display: flex;
   justify-content: center;
}



.command-link {
   display: flex;
   color: var(--icon-color);
   width: 44px;
   height: 44px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);

}

.command-link:hover,
.command-link:focus {
   background-color: var(--accent-color);
   color: var(--secondary-white-color);
}



.comand-icon-item {
   margin-left: 10px;
}

.icon-link {
   fill: currentColor;
   width: 20px;
   height: 20px;
}


/*--------------------------------clients logo---------------------------*/

.clients {
   padding-top: 94px;
   padding-bottom: 94px;
   text-align: center;
}

.title-clients {
   margin-bottom: 50px;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

.clients-list {
   display: flex;

}

.clients-list-item+.clients-list-item {
   margin-left: 30px;
}

.client-link {
   width: 170px;
   height: 92px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--icon-color);
   border-radius: 4px;
   color: var(--icon-color);
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.client-link:hover,
.client-link:focus {
   color: var(--accent-color);
   border-color: var(--accent-color);

}

.icon-client {
   width: 106px;
   height: 60px;
   fill: currentColor
}




/*------------------------------------- block footer-------------------------------- */

.footer {
   background-color: var(--secondary-bg-color);
   padding-top: 60px;
   padding-bottom: 60px;
}



.footer-logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   color: #2196F3;
   text-decoration: none;
   display: inline-block;
   letter-spacing: 0.03em;
   margin-bottom: 20px;
}

.adres-footer {
   color: var(--primary-white-color);
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   display: block;
   margin-bottom: 9px;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.adres-footer:hover,
.adres-footer:focus {
   color: var(--accent-color);
}

.connect-footer {
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
   font-style: normal;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   display: block;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);

}

.connect-footer:hover,
.connect-footer:focus {
   color: var(--accent-color);
}

.footer-list :nth-child(2) {
   margin-bottom: 10px;
   display: block;
}

.footer-link-item {
   margin-bottom: 9px;
}

/*--------------------------footer social link----------------------------*/

.footer-column-list {
   display: flex;
}

.footer-container {
   display: flex;
   align-items: baseline;
}

.footer-column+.footer-column {
   margin-left: 70px;
}

.title-column {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--primary-bg-color);
   margin-bottom: 20px;
}

.column-link {
   display: flex;
   color: var(--primary-white-color);
   width: 44px;
   height: 44px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   background-color: var(--icon-bg-color);
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.column-link:hover,
.column-link:focus {
   background-color: var(--accent-color);
}

.column-item+.column-item {
   margin-left: 10px;
}

.icon-link {
   width: 20px;
   height: 20px;
   fill: currentColor;
}

/*--------------------------------footer E-mail form-------------------------------------------*/

.text-column {
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--primary-white-color);
}

.email-footer {
   padding-left: 16px;
   width: 358px;
   height: 50px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   background-color: inherit;
}

.email-footer:hover,
.email-footer:focus {
   color: var(--primary-white-color);
   border-color: #188CE8;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.btn-footer-submit {
   margin-left: 12px;
   width: 200px;
   height: 50px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   background-color: var(--accent-color);
   cursor: pointer;
   border: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--primary-white-color);
}

.btn-footer-submit:hover,
.btn-footer-submit:focus {
   background-color: #188CE8;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.footer-form-column {
   margin-left: auto;
}

.footer-field {
   display: flex;
}

.icon-send {
   margin-left: 10px;
   align-items: center;
   width: 24px;
   height: 24px;
}


/*-------------------------------------кнопки сервисов-----------------------------------------*/
.examples {
   padding-top: 94px;
   padding-bottom: 94px;
}

.button-service-list {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.button-service-item {
   margin-left: 8px;
}

.button-service {
   color: var(--title-text-color);
   background-color: var(--secondary-white-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   cursor: pointer;
   border-radius: 4px;
   padding: 6px 22px;
   border: none;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.button-service:hover,
.button-service:focus {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*--------------------------каталог---------------------------------------------*/
.card {
   display: flex;
   flex-wrap: wrap;
   margin-left: calc(-1 * var(--card-gap));
   margin-top: calc(-1 * var(--card-gap));

}

.card-item {
   flex-basis: calc(100% / 3 - var(--card-gap));
   margin-top: var(--card-gap);
   margin-left: var(--card-gap);
}

.catalog-heading {
   margin-bottom: 4px;
   color: var(--title-text-color);
   font-size: 18px;
   line-height: 36px;
   letter-spacing: 0.06em;

}

.card-thumb {
   position: relative;
   overflow: hidden;
}

.card-animation {
   transform: translateY(100%);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--background-card-color);
   transition: 250ms var(--transition-timing-function);
}



.card-overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.card-text-overlay {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   letter-spacing: 0.03em;
   color: var(--primary-white-color);
   min-width: 322px;
}

.catalog-text {
   font-size: 16px;
   line-height: 1.85;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
}

.card-content {
   padding: 20px 24px;
   border-bottom: 1px solid #EEEEEE;
   border-left: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
}

.card-set-link:hover .card-animation,
.card-set-link:focus .card-animation {
   transform: translateY(0);
}

.card-set-link:hover,
.card-set-link:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set-link {
   text-decoration: none;
   display: block;
   transition-property: box-shadow;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

/*----------------------------------modal----------------------------------------*/

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   opacity: 1;
   transition: opacity 250ms var(--transition-timing-function);
}


.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0.9);
}



.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   width: 528px;
   height: 581px;
   background-color: var(--primary-bg-color);
   border-radius: 4px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   transition: transform 250ms var(--transition-timing-function);
   padding: 40px;
}

.modal-icon {
   width: 18px;
   height: 18px;
   fill: currentColor;

}

.modal-button {
   position: fixed;
   top: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 8px;
   margin-right: 8px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color: var(--primary-bg-color);
   cursor: pointer;
   color: #000000;
   transition-property: color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.modal-button:hover,
.modal-button:focus {
   color: var(--accent-color);
}

.modal-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
   margin-bottom: 12px;
}

.modal-form-field {
   display: flex;
   flex-direction: column;
   position: relative;
   text-align: start;
   margin-bottom: 10px;
   transition-property: border-color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.modal-form-label {
   display: flex;
   flex-direction: column;
   position: relative;
   text-align: start;
   margin-bottom: 10px;
   transition-property: border-color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}


.modal-form-label {
   margin-bottom: 4px;
   font-size: 12px;
   line-height: 1.15;
   letter-spacing: 0.01em;
}

.modal-form-input {
   padding-left: 30px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   width: 448px;
   height: 40px;
   outline: none;
   transition-property: border-color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);

}

.modal-form-icon {
   color: var(--title-text-color);
   position: absolute;
   width: 18px;
   height: 18px;
   top: 50%;
   left: 12px;
   fill: currentColor;
   transition-property: fill;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.modal-form-field:focus-within .modal-form-input,
.modal-form-field:hover .modal-form-input {
   border: 1px solid var(--accent-color);
   color: var(--accent-color);
}

.modal-form-field:focus-within .modal-form-icon,
.modal-form-field:hover .modal-form-icon {
   fill: var(--accent-color);
}

.modal-textarea-field {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.modal-textarea-label {
   margin-bottom: 4px;
   font-size: 12px;
   line-height: 1.15;
   letter-spacing: 0.01em;
}

.modal-comment-textarea {
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   width: 448px;
   height: 120px;
   resize: none;
   padding: 12px 16px;
   outline: none;
   transition-property: border-color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.modal-comment-textarea:hover,
.modal-comment-textarea:focus {
   border-color: var(--accent-color);
   color: var(--title-text-color);
}

.modal-comment-textarea::placeholder {
   color: rgba(117, 117, 117, 0.5);
   font-size: 12px;
   line-height: 1.15;
   letter-spacing: 0.01em;
}

.modal-checkbox-field {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
   font-size: 1.71;
   line-height: 24px;
   letter-spacing: 0.03em;
}

.modal-checkbox-input {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.modal-checkbox-icon {
   width: 16px;
   height: 15px;
   border: 2px solid #212121;
   border-radius: 4px;
   transition-property: border-color color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.modal-checkbox-input:checked+.modal-checkbox-icon {
   border-color: var(--accent-color);
   background-color: var(--accent-color);
   background-origin: border-box;
}

.modal-checkbox-label {
   font-size: 1.71;
   line-height: 24px;
   letter-spacing: 0.03em;
   margin-left: 7px;
}

.modal-checkbox-link {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;

   text-decoration-line: underline;
   color: #2196F3;
}

.modal-submit-button {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   display: flex;
   align-items: center;
   justify-content: center;
   letter-spacing: 0.06em;
   margin-left: auto;
   margin-right: auto;
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   border: none;
   padding: 10px 55px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   cursor: pointer;
   transition-property: background-color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--transition-timing-function);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
   background-color: #188CE8;
}