.clients  {
   padding-top: 94px;
   padding-bottom: 94px;
   text-align: center;
}

.clients-title {
   @include mobile{
   font-size: 28px;
   line-height: 1.17;
   }
   margin-bottom: 50px;
   font-size: 36px;
   line-height: 42px;
   letter-spacing: 0.03em;
   color: $title-text-color;
}

.clients-list {
@include mobile {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
   justify-items: center;
}
   display: flex;
}

.clients-list__item {
   @include mobile {
   width: 210px;
   width: calc((100 - 4 * 15) /2 );
   margin: 15px;
   }
   @include tablet {
      width: 226px;
      width: calc((100 - 4 * 15) /3 );
      margin: 15px;
      }
      @include desktop{
      width: 170px;
      width: calc((100 - 4 * 15) /6 );
      margin: 15px;
      }
   

}

.client-link {

   height: 92px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid $icon-color ;
   border-radius: 4px;
   color: $icon-color;
   transition-property: color, border-color;
   transition-duration: $transition-duration;
   transition-timing-function: $transition-timing-function;
   &:hover,
   &:focus{
   color: $accent-color;
   border-color: $accent-color;
   }
}

.client-icon {
   @include mobile {
      width: 106px;
   }
   @include tablet {
      width: 106px;
   }
   fill:currentColor
}