.clients  {
   padding-top: 60px;
   padding-bottom: 60px;
   text-align: center;
   @include desktop{
   padding-top: 94px;
   padding-bottom: 94px;
   }
}

.clients-title {
   margin-bottom: 50px;
   font-family: "Roboto";
   font-style: normal;
   color: $title-text-color;
   font-weight: 700;
   font-size: 28px;
   line-height: 1,17;
   letter-spacing: 0.03em;
   @include desktop {
   font-size: 36px;
   line-height: 1.16;
   letter-spacing: 0.03em;
   }

}

.clients-list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}

.clients-list__item {
   @include interval {
   width: calc((100% - 4 * 15px) /2 );
   margin: 15px;
   }
   @include tablet {
   width: calc((100% - 6 * 15px) /3);
   margin: 15px;
   }
   @include desktop {
   width: calc((100% - 12 * 15px) /6);
   margin: 15px;
   }
}

.client-link {
   height: 92px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid $icon-color ;
   border-radius: 4px;
   color: $icon-color;
   transition-property: color, border-color;
   transition-duration: $transition-duration;
   transition-timing-function: $transition-timing-function;
   &:hover,
   &:focus{
   color: $accent-color;
   border-color: $accent-color;
   }
}

.client-icon {
   fill:currentColor
}