.features, .container {
   @include mobile {
   padding-top: 60px;
   padding-bottom: 60px;
   }
   @include tablet {
   padding-top: 60px;
   padding-bottom: 60px;
   }
   @include desktop{
   padding-top: 94px;
   padding-bottom: 94px;
}
}

.features__list {
@include tablet {
display: flex;
flex-wrap: wrap;
margin: -15px;
}
@include desktop{
display: flex;
}
}


.features-list__item {
   @include mobile {
   margin-right: 0;
   margin-bottom: 30px;
   &:last-child{
   margin-bottom: 0;
   }}
   
   @include tablet {
      text-align: left;
      width: calc((100 - 4 * 15)/2);
      margin: 15px;
      }
   
   @include desktop {
      text-align: left;
      width: calc((100% - 8 * 15px)/4);
      &:last-child {
      margin-right: 0;
      }}
}



.features__title {
   @include mobile {
   text-align: center;
   }
   margin-bottom: 10px;
   color: $title-text-color;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}


.features__text {
   @include mobile {
   max-width: 450px;
   }
   @include tablet {
   max-width: 354px;
   }
   @include desktop {
   max-width: 270px;}
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: $primary-text-color;

}

.features__icon {
   background-color: $secondary-white-color;
   height: 120px;
   width: 100%;
   margin-bottom: 30px;
   border-radius: 4px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


