
.hero  {
   background-color: $secondary-bg-color;
   background-image: 
   linear-gradient(to right,  rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
   ), url(../img/hero-mob.jpg);
   background-position: center;
   text-align: center;
   padding-top: 118px;
   padding-bottom: 118px;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   background-size: cover;
   background-repeat: no-repeat;}
   /*@include retina  { 
   background-image: 
   linear-gradient (to right,  rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)), url(../img/hero-mob2x.jpg)
   }*/

   @include tablet {
   background-image: 
   linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../img/hero-tab.jpg);}
   /*@include retina  { 
   background-image: 
   linear-gradient (to right,  rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)), url(../img/hero-tab2x.jpg)
   }}*/
   @include desktop{
   background-color:$secondary-bg-color;
   padding-top: 200px;
   padding-bottom: 200px;
   background-image: 
   linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../../img/hero-desktop.jpg);}
   /*@include retina  {
   background-image: 
   linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../img/hero-desktop2x.jpg)
   }
   }
}*/
.hero__title {
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   max-width: 360px;
   color: $primary-white-color;
   font-style: normal;
   font-weight: 900;
   font-size: 26px;
   line-height: 1.61;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   
@include desktop {
   font-size: 44px;
   line-height: 1,36;
   max-width: 696px;
   }

}


.hero__button {
   @include mobile {
   display: flex;
   align-items: center;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   }
   @include tablet {
   display: flex;
   align-items: center;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   }
   color: $primary-white-color;
   background-color: $accent-color;
   font-family: "Roboto";
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   padding: 10px 32px;
   border-radius: 4px;
   min-width: 200px;
   display: inline-block;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
   border: none;
   transition-property:background-color;
   transition-duration: $transition-duration;
   transition-timing-function: $transition-timing-function;
   &:hover,
   &:focus {
   background-color: #188CE8;
   }

}