
   .our-command .container {
@include mobile {
   padding-top: 60px;
   padding-bottom: 60px;
}
@include tablet {
   padding-top: 60px;
   padding-bottom: 60px;
}
@include desktop {
   padding-top: 94px;
   padding-bottom: 94px;
}
   background-color: $secondary-white-color;
   text-align: center;
   }

   .our-command__title {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   letter-spacing: 0.03em;
   color: $title-text-color;
   }

   .our-command__list {

   
   @include tablet {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
   }
   }

   .our-command__item {
   @include tablet {
   width: 354px;
   width: calc((100 - 4 * 15) /2 );
   margin: 15px;
   }
   @include desktop {
   width: 270px;
   width: calc((100 - 8 * 15) /4 );
   margin: 15px;
   }


   background-color: $primary-bg-color;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   @media screen and ( max-width:676px ) {
   margin-bottom: 30px;
   &:last-child{
   margin-bottom: 0;
   }
}
}
   .our-command__content {
   @include mobile {
      padding-bottom: 24px;
      padding-top: 30px;
   }
   @include tablet {
      padding-bottom: 24px;
      padding-top: 30px;
   }
   padding-bottom: 30px;
   padding-top: 30px;
   }

   .our-command__name {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-text-color;
   }

   .our-command__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $primary-text-color;
      margin-bottom: 16px;
   }
   .comand-link__list {
      display: flex;
      justify-content: center;
   }

   .comand-icon__item {
      margin-right: 10px;
      &:last-child{
      margin-right: 0;
   }
   }

   .command-icon__link {
   display: flex;
   color: $icon-color;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   transition-property:background-color, color;
   transition-duration: $transition-duration;
   transition-timing-function: $transition-timing-function;
   &:hover,
   &:focus{
   background-color: $accent-color;
   color: $primary-white-color;
   }
   }

   .icon-link {
   fill: currentColor;
   width: 20px;
   height: 20px;
   }