$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$secondary-white-color: #f5f4fa;
$card-gap: 30px;
$icon-color: rgba(175, 177, 184, 1);
$icon-bg-color: rgba(255, 255, 255, 0.1);
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$background-card-color: rgba(33, 150, 243, 0.9);
